@import "../../../../assets/variables.scss";

.#{$editor}-layer-setting {
  border-radius: 0 !important;
  list-style: none;
  padding: 0;
  margin: 0;

  &-item {
    display: flex;
    align-items: center;
    padding: 16px;
    border: 1px solid #f0f0f0;
    border-bottom: none;
    background-color: #fff;
    &:last-child {
      border-bottom: 1px solid #f0f0f0;
    }
    &__edit {
      margin-left: 10px;
      margin-right: 10px;
      text-align: left;
      flex: 1;
    }

    &__label {
      min-width: 80px;
      display: inline-block;
    }

    cursor: pointer;

    &:hover {
      background-color: #e6f7ff;
    }

    &--active {
      background: #e6f7ff;
    }
  }
}
